<!DOCTYPE html>
<html lang="cs">
<head>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></sript>
</head>
<body>
<div id='Neco'></div>
<script type="text/javascript">
/*	data = {{ msl_data }}
	var x = [];
	for (var i =0; i < 500; i++){
	x[i] = data[i].L 
	}
	var data = [
	{
		x: x,
		type: 'histogram',
			marker: {color: 'rgba(100,250,100,0.7)',},
	}
	];
	Plotly.newPlot('Neco', data);*/
	
	var x = [];
for (var i = 0; i < 500; i ++) {
	x[i] = Math.random();
}

var data = [
  {
    x: x,
    type: 'histogram',
	marker: {
    color: 'rgba(100,250,100,0.7)',
	},
  }
];
Plotly.newPlot('Neco', data);
	
</script>
</body>